#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
}

#navbar h2 {
    color: #7703fc;
    font-weight: 900;
}

#navbar ul {
    align-items: center;
}


@media (max-width: 480px) {
    #navbar ul {
        align-items: center;
        max-width: 270px;
        font-size: 0.9rem;
        margin-top: 1rem;
    }
}